$firmColor: #f8fa00;

$baseBackgroundColor: $firmColor;
$baseFontSize: 16px;
$baseLineHeight: 18px;
$baseFontFamily: 'Montserrat', Arial, sans-serif;
$baseFontWeight: 400;
$baseTextColor: #fff;

$baseLinkColor: $firmColor;
$baseLinkHoverColor: #fff;

// Responsive screens
$screenXs: 480px;
$screenS: 768px;
$screenM: 1024px;
$screenL: 1440px;
