{
  "env": {
    "cli": {
      "presets": [
        "@babel/env"
      ]
    },
    "build": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "targets": {
              "browsers": [
                "last 3 versions",
                "safari >= 7",
                "ie >= 9"
              ]
            }
          }
        ],
        "@babel/react"
      ],
      "plugins": [
        "lodash",
        "react-hot-loader/babel",
        [
          "@babel/transform-classes",
          {
            "loose": true
          }
        ],
        "@babel/transform-proto-to-assign"
      ]
    }
  }
}
